@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        margin-bottom: 60px;
        background-image: url("../Images/fon2.jpg");
        background-size:1500px;
    }
</style>
<div class="text-center">

    <h1 style="color:aliceblue "class="display-4">Моята Библиотека</h1>
   
</div>
